.card {
  box-sizing: border-box;
  width: 265px;
  height: 350px;
  border: 1px solid #585858;
  border-radius: 5px;
  padding: 5px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;

  &:hover {
    border: 1px solid #dfdfdf;
  }
  &.active {
    border: 1px solid #dfdfdf;
  }
  & img {
    width: 180px;
    height: 180px;
    cursor: pointer;
  }
  .card-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      font-size: 1rem;
      color: white;
      font-family: "Ungai", sans-serif;
      margin: 1rem 0;
    }
    .description {
      font-size: 1rem;
      color: #9a9a9a;
      width: auto;
    }
  }

  .price-count {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .price {
      color: white;
      font-weight: bold;
    }
    .add {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      & img {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
      .count {
        color: white;
        font-weight: bold;
      }
    }
  }
}
