.card-info {
  position: relative;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @media (max-width: 569px) {
    flex-direction: column;
    align-items: center;
  }
  & img {
    width: 400px;
    height: 400px;

    @media (max-width: 870px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 680px) {
      width: 250px;
      height: 250px;
    }
    @media (max-width: 450px) {
      width: 180px;
      height: 180px;
    }
    @media (max-width: 350px) {
      width: 150px;
      height: 150px;
    }
  }
  .info {
    color: white;

    @media (max-width: 569px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .name {
      font-size: 1.7rem;
      color: white;
      font-family: "Ungai", sans-serif;
      margin: 2rem 0;

      @media (max-width: 569px) {
        margin: 0;
        margin-bottom: 0.5rem;
      }
    }

    .price-count {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1.8rem 0;
      font-size: 1.3rem;
      gap: 6rem;

      @media (max-width: 569px) {
        justify-content: center;
        margin: 2rem 0;
        margin-bottom: 2.5rem;
      }

      @media (max-width: 235px) {
        flex-direction: column;
        gap: 1rem;
      }
      .price {
        color: white;
        font-weight: bold;
      }
      .add {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        & img {
          width: 25px;
          height: 25px;
          cursor: pointer;
        }
        .count {
          color: white;
          font-weight: bold;
        }
      }
    }

    .title {
      font-size: 1.25rem;
      border-bottom: 1px solid white;
      width: auto;
      display: inline-block;
    }
    .title-composition {
      cursor: pointer;
      font-size: 1.25rem;
      border-bottom: 1px solid white;
      width: auto;
      display: inline-block;
    }
    .description,
    .composition {
      font-size: 1.1rem;
      color: #9a9a9a;
      margin-top: 0.3rem;
      line-height: 24px;
    }
    .description {
      margin-bottom: 1rem;
    }

    .energy-value {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 2rem 0;
      width: 100%;
      height: auto;
      gap: 20px;
      @media (max-width: 738px) {
        gap: 10px;
      }
      .energy-value-item {
        display: flex;
        align-items: center;
        width: auto;
        height: 1.5rem;
        padding: 3px 1.5rem;
        border: 1px solid #8e8e8e;
        border-radius: 3px;
        color: #dfdfdf;
      }
    }
  }
}
