.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error {
    font-size: 1rem;
    color: #ff6174;
  }
  .warning {
    font-size: 1rem;
    color: #e5c975;
  }
  .success {
    font-size: 1rem;
    color: #a0db75;
  }

  .title {
    color: white;
    font-size: 1.5rem;
    font-family: "Ungai", sans-serif;
    text-align: center;
    margin: 82px 0 42px 0;

    @media (max-width: 480px) {
      margin: 48px 0 14px 0;
    }
  }
  .text {
    text-align: center;
    width: 845px;
    color: #dfdfdf;
    font-size: 1.25rem;
    line-height: 35px;
    margin-bottom: 73px;

    @media (max-width: 970px) {
      width: 635px;
    }
    @media (max-width: 680px) {
      width: auto;
    }
    @media (max-width: 480px) {
      line-height: 20px;
      margin-bottom: 53px;
    }
  }
  .feedback-form {
    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      margin-bottom: 1.5rem;

      .avatar {
        width: 40px;
        height: 40px;

        @media (max-width: 480px) {
          width: 25px;
          height: 25px;
        }
      }
      .name {
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0 2rem 0 0.5rem;

        @media (max-width: 480px) {
          margin-right: 65px;
        }
        @media (max-width: 300px) {
          margin-right: 45px;
        }
      }
    }
    .textarea-container {
      position: relative;
      display: inline-block;
    }
    .clip {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      background-size: cover;
      height: 30px;
      width: 30px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10%);
      }

      @media (max-width: 480px) {
        width: 20px;
        height: 20px;
      }
    }
    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      & textarea {
        width: 650px;
        height: 200px;
        padding: 1rem;
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 7px;
        background: transparent;
        resize: none;
        font-family: "Tw Cen MT", sans-serif;
        font-size: 1.1rem;
        line-height: 25px;
        color: white;

        @media (max-width: 855px) {
          width: 560px;
        }
        @media (max-width: 760px) {
          width: 400px;
          height: 200px;
        }
        @media (max-width: 480px) {
          width: 270px;
          height: 130px;
        }
        @media (max-width: 300px) {
          width: 220px;
          height: 100px;
        }
      }
    }
    .btn {
      width: 235px;
      height: 45px;
      margin-top: 2rem;
      border: 1px solid #dfdfdf;
      border-radius: 0.5rem;
      background-color: transparent;
      color: #dfdfdf;
      font-family: "Tw Cen MT", sans-serif;
      font-size: 1.1rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: #dfdfdf;
        color: #16171b;
      }

      @media (max-width: 480px) {
        width: 270px;
        height: 35px;
      }
      @media (max-width: 300px) {
        width: 220px;
        height: 25px;
      }
    }
  }
}

.rating {
  position: relative;
  font-size: 1.4rem;
  display: inline-block;

  @media (max-width: 480px) {
    font-size: 2rem;
  }

  &::before {
    content: "★★★★★";
    display: block;
  }
  .stars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    .star {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;

      &:checked,
      &:checked ~ .star-label {
        color: white;
      }
    }
  }
}
.star-label {
  flex: 0 0 20%;
  cursor: pointer;
  height: 100%;
  color: rgb(81, 81, 81);

  &:hover,
  &:hover ~ &,
  &:checked ~ &:hover {
    color: #acacac;
  }
  &::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
  }
}
