.basket-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

  @media (max-width: 586px) {
    width: 90%;
  }
  .price-amount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    font-size: 1.2rem;
    color: #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
  }
  .btn-try {
    margin-top: 30px;
    cursor: pointer;
    width: 144px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background: linear-gradient(
      to right,
      #505050,
      #e2e2e2,
      #505050,
      #505050,
      #e2e2e2,
      #505050
    );
    background-size: 250%;
    background-position: left;
    position: relative;
    transition-duration: 1s;
    overflow: hidden;

    @media (max-width: 570px) {
      width: 130px;
      height: 36px;
    }

    &::before {
      position: relative;
      content: "MAKE AN ORDER";
      font-family: "Tw Cen MT", sans-serif;
      font-size: 1rem;
      font-weight: 600;
      color: #d1d1d1;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 2px;
      width: 97%;
      height: 87%;
      border-radius: 3px;
      transition-duration: 1s;
      background-color: #16171b;
      background-size: 200%;
    }
    &:hover {
      background-position: right;
      transition-duration: 1s;
      &::before {
        background-position: right;
        transition-duration: 1s;
      }
    }
    &:active {
      transform: scale(0.9);
    }
  }

  .basket-title {
    margin-top: 110px;
    color: white;
    font-size: 1.5rem;
    font-family: "Ungai", sans-serif;
  }
  .basket-list {
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;

    .basket-item-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .basket-info {
        width: 80%;
        display: flex;
        align-items: center;

        @media (max-width: 970px) {
          font-size: 0.7rem;
        }

        .basket-img {
          width: 100px;
          height: 100px;
          margin-right: 2rem;

          @media (max-width: 1050px) {
            width: 80px;
            height: 80px;
          }
          @media (max-width: 600px) {
            width: 65px;
            height: 65px;
          }
          @media (max-width: 390px) {
            width: 50px;
            height: 50px;
            margin: 0 1rem;
            margin: 0;
          }
        }
        .basket-name {
          color: white;
          font-size: 1rem;
          font-family: "Ungai", sans-serif;
          white-space: nowrap;

          @media (max-width: 362px) {
            white-space: normal;
          }
        }

        .basket-tags {
          color: rgb(124, 124, 124);
          font-size: 1.1rem;
          margin: 0 2rem;
          @media (max-width: 790px) {
            display: none;
          }
        }
      }

      .basket-set-info-container {
        margin-top: 10px;

        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;

        .main-set-info {
          display: flex;
          align-items: center;
          .basket-name {
            color: white;
            font-size: 1rem;
            font-family: "Ungai", sans-serif;
            white-space: nowrap;

            @media (max-width: 362px) {
              white-space: normal;
            }
          }
          .arrow-down {
            width: 40px;
            height: 40px;
            margin-bottom: 5px;

            @media (max-width: 500px) {
              width: 25px;
              height: 25px;
            }
          }
        }
      }

      .basket-price-count {
        width: auto;
        display: flex;
        align-items: center;
        font-size: 1rem;
        justify-content: space-between;
        white-space: nowrap;
        margin-bottom: 0.5rem;

        .price {
          color: white;
          font-weight: bold;
          margin-right: 1rem;
        }
        .add {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          & img {
            width: 25px;
            height: 25px;
            cursor: pointer;
            @media (max-width: 970px) {
              width: 20px;
              height: 20px;
            }
          }
          .count {
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.more-set-info {
  width: 30%;
  margin-bottom: 20px;
  @media (max-width: 800px) {
    width: 50%;
  }

  .more-info-item {
    color: rgb(124, 124, 124);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: space-between;
  }
}
