.creator-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-container {
    width: 60%;
    padding: 0;
    margin: 0;

    @media (max-width: 1100px) {
      width: 80%;
    }
    @media (max-width: 830px) {
      width: 95%;
    }
  }
  .creator-title {
    text-align: center;
    margin-top: 110px;
    color: white;
    font-size: 1.5rem;
    font-family: "Ungai", sans-serif;
  }
  .catalog {
    margin-top: 50px;
    padding-bottom: 5px;
    width: 100%;
    list-style: none;
    color: white;
    font-family: "Ungai", sans-serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #16171b;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #3e3e3e;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #dfdfdf;
    }

    @media (max-width: 440px) {
      font-size: 1rem;
      gap: 30px;
      overflow-x: scroll;
    }
    & li {
      cursor: pointer;
      width: auto;
      white-space: nowrap;

      &::after {
        display: block;
        position: relative;
        left: 0;
        width: 0;
        height: 1px;
        background-color: white;
        content: "";
        transition: width 0.5s ease-out;
      }
      &.active::after {
        width: 100%;
      }
      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }
  }

  .sushi-group {
    border-bottom: 1px solid #3e3e3e;
    border-top: 1px solid #3e3e3e;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .sushi-element {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(0.95);
      }
      img {
        width: 80px;
        height: 80px;
        @media (max-width: 750px) {
          width: 60px;
          height: 60px;
          margin: 0 5px;
        }
      }
      p {
        color: #9a9a9a;
        text-align: center;
      }
    }
  }

  .playground-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 750px) {
      flex-direction: column;
    }
    .sets-grid {
      flex-basis: 50%;

      h3 {
        color: #dfdfdf;
        font-size: 1.2rem;
      }

      .cells {
        width: 45%;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 750px) {
          width: 35%;
        }
        @media (max-width: 480px) {
          width: 50%;
        }
        .cell {
          box-sizing: border-box;
          font-size: 1rem;
          width: 35px;
          height: 30px;
          background-color: transparent;
          border: 1px solid #dfdfdf;
          border-radius: 3px;
          color: #dfdfdf;
          cursor: pointer;

          &.active {
            color: #16171b;

            background-color: #dfdfdf;
          }
        }
      }
      .grid {
        border: 2px solid #dfdfdf;
        border-radius: 5px;
        margin-top: 40px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        gap: 7px;
        @media (max-width: 750px) {
          padding: 5px;
        }

        .set-item {
          border-radius: 10px;
          border: 1px solid #3e3e3e;
          width: 90px;
          height: 90px;
          cursor: pointer;
          transition: all 0.25s ease-in-out;

          @media (max-width: 750px) {
            border-radius: 5px;
            width: 80px;
            height: 80px;
          }
          @media (max-width: 480px) {
            width: 60px;
            height: 60px;
          }

          &:hover {
            border: 1px solid #ff6174;
          }
        }
        .empty-set-item {
          border-radius: 10px;
          border: 1px solid #3e3e3e;
          width: 90px;
          height: 90px;
          cursor: pointer;
          transition: all 0.25s ease-in-out;

          @media (max-width: 750px) {
            border-radius: 5px;
            width: 80px;
            height: 80px;
          }
          @media (max-width: 480px) {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .sets-info {
      flex-basis: 35%;
      height: auto;
      margin: 20px 0 300px 0;

      h3 {
        text-align: center;
        color: #dfdfdf;
        font-size: 1.2rem;
      }

      .components {
        margin-top: 10px;
        padding: 10px;

        @media (max-width: 750px) {
          border-top: 1px solid #3e3e3e;
        }

        li {
          margin-top: 7px;
          display: flex;
          justify-content: space-between;
          color: #dfdfdf;
          font-size: 1rem;
          list-style-type: none;

          &:nth-child(even) {
            color: #969696;
          }
        }
      }
      .set-price {
        border-bottom: 1px solid #3e3e3e;
        border-top: 1px solid #3e3e3e;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        color: white;
      }

      .btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        .add-basket-btn {
          box-sizing: border-box;
          width: 110px;
          min-width: 110px;
          height: 25px;
          padding: 0 5px;
          color: #9a9a9a;
          font-size: 0.7rem;
          font-weight: bold;
          border: 1px solid #585858;
          border-radius: 3px;
          background-color: transparent;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: #dfdfdf;
            border-color: #9a9a9a;
          }
          &:active {
            transform: scale(0.9);
          }
          @media (max-width: 900px) {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
