.review-card {
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
  width: 260px;
  height: 380px;
  padding: 20px;
  color: #dfdfdf;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 900px) {
    width: 200px;
    height: 310px;
  }

  .review-container {
    width: 100%;
    overflow: hidden;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      .delete-sign {
        font-size: 2.1rem;
        margin-left: 30%;
        color: #7c7b7b;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @media (max-width: 1124px) {
          margin-left: 35%;
        }
        @media (max-width: 850px) {
          margin-left: 40%;
        }
        @media (max-width: 780px) {
          margin-left: 35%;
        }
        @media (max-width: 320px) {
          margin-left: 25%;
        }

        &:hover {
          color: rgb(225, 88, 88);
        }
      }

      & img {
        width: 35px;
        height: 35px;

        @media (max-width: 480px) {
          width: 25px;
          height: 25px;
        }
      }
    }
    .stars {
      margin: 1rem 0;
      text-align: start;
    }
    .review-text {
      line-height: 24px;
      text-align: start;

      @media (max-width: 480px) {
        line-height: 20px;
      }
      @media (max-width: 320px) {
        font-size: 0.8rem;
      }
    }
    .review-info {
      .name {
        font-weight: bold;
        margin-bottom: 0.3rem;
      }
    }
  }
}
