.burger-menu {
  position: fixed;
  left: 0;
  top: 40px;
  width: 130px;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    top: 35px;
  }
  @media (max-width: 780px) {
    width: 90px;
  }

  & li {
    padding: 0.7rem;
    list-style: none;
    border-bottom: 1px solid rgb(105, 105, 105);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(1) {
      transition: all 0.2s ease;
    }
    &:nth-child(2) {
      transition: all 0.4s ease;
    }
    &:nth-child(3) {
      transition: all 0.6s ease;
    }
    &:nth-child(4) {
      transition: all 0.8s ease;
    }
    &:nth-child(5) {
      transition: all 1s ease;
    }
    &:nth-child(6) {
      transition: all 1.2s ease;
    }
    &:nth-child(7) {
      transition: all 1.4s ease;
    }
    &.menu-open {
      opacity: 1;
      background-color: #16171b;
      transform: translateX(0%);

      &:hover {
        background-color: #3d4044;
      }
    }
    &.menu-close {
      opacity: 0;

      transform: translateX(-100%);
    }

    .menu-link {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: capitalize;
    }
  }
}
