.navbar {
  margin-top: 0;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  box-shadow: 0px 35px 55px 21px rgba(22, 23, 27, 1);
  padding: 0 50px;
  background-color: #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  @media (max-width: 780px) {
    padding: 0 25px;
  }

  @media (max-width: 480px) {
    height: 35px;
  }

  .menu-bar {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;

    &:hover {
      transform: scale(105%);
    }

    @media (max-width: 480px) {
      width: 25px;
      height: 25px;
    }
  }

  .title {
    color: #16171b;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    font-family: "Ungai", sans-serif;
    margin: 0 auto;

    @media (max-width: 355px) {
      font-size: 1.5rem;
    }
  }
  .icons {
    display: flex;
    gap: 3.125rem;
    flex-direction: row;

    @media (max-width: 855px) {
      gap: 0;
    }
    .basket-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      .basket-info {
        color: #16171b;
        font-size: 1rem;

        @media (max-width: 550px) {
          display: none;
        }
      }
    }

    .favorite {
      @media (max-width: 855px) {
        display: none;
      }
    }
    .avatar {
      @media (max-width: 855px) {
        display: none;
      }
    }
    & img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10%);
      }

      @media (max-width: 480px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideBack {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
