.footer {
  width: 100%;
  height: 135px;
  margin-top: 375px;
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  .text {
    width: 350px;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    color: #16171b;

    @media (max-width: 480px) {
      width: 207px;
    }
  }
}
