.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 50px;
  margin: 0 auto;
  width: 100vw;
  margin-bottom: 200px;

  @media (max-width: 780px) {
    padding: 0 25px;
  }
  @media (max-width: 480px) {
    padding: 0 40px;
  }
  @media (max-width: 355px) {
    padding: 0 20px;
  }

  iframe {
    border: none;
    max-width: 820px;
    width: 90%;
    height: 30rem;
  }
  .about {
    display: flex;
    justify-content: center;
    gap: 50px;

    @media (max-width: 850px) {
      gap: 25px;
    }
    @media (max-width: 780px) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: start;
    }

    .info {
      width: 747px;
      height: auto;
      margin-top: 114px;
      margin-bottom: 30px;

      @media (max-width: 780px) {
        margin-top: 0px;
        min-width: auto;
        width: auto;
      }

      .title {
        margin-bottom: 1.3em;
        color: white;
        font-size: 1.5rem;
        font-family: "Ungai", sans-serif;

        @media (max-width: 780px) {
          margin-top: 50px;
        }
        @media (max-width: 480px) {
          margin: 15px 0;
          font-size: 1rem;
        }
      }
      .text1,
      .text2 {
        font-size: 1.3rem;
        color: #dfdfdf;
        line-height: 30px;

        @media (max-width: 780px) {
          margin-top: 50px;
        }
        @media (max-width: 480px) {
          margin: 0;
          line-height: 20px;
        }
      }
      .text1 {
        margin-bottom: 30px;
      }

      .contacts {
        margin-top: 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #dfdfdf;

        @media (max-width: 780px) {
          width: auto;
          margin: 0;
        }

        @media (max-width: 480px) {
          margin-top: 26px;
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }

        .title {
          font-family: "Tw Cen MT", sans-serif;
          font-weight: bold;
          font-size: 1rem;
        }
        .phone-numbers {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .numbers {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
        }
        .social-media {
          display: flex;
          flex-direction: column;
          align-items: center;

          .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1.3rem;

            @media (max-width: 480px) {
              gap: 2rem;
            }
          }

          .title {
            margin-bottom: 30px;
          }
          & img {
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
              transform: translateY(-10%);
            }
          }
        }
        .google-map {
          width: 130px;
          display: flex;
          flex-direction: column;
          align-items: center;
          & img {
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
              transform: translateY(-10%);
            }
          }
        }
      }
    }
    .about-img {
      margin-top: 191px;
      width: 420px;
      height: 250px;

      @media (max-width: 1125px) {
        width: 310px;
        height: 180px;
      }

      @media (max-width: 850px) {
        width: 250px;
        height: 140px;
      }
      @media (max-width: 780px) {
        margin-top: 100px;
        width: 330px;
        height: 200px;
      }
      @media (max-width: 480px) {
        margin-top: 75px;
        width: 246px;
        height: 136px;
      }
    }
  }
}
