.review-card {
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
  width: 290px;
  height: 400px;
  padding: 20px;
  color: #dfdfdf;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 780px) {
    width: 250px;
    height: 380px;
  }
  @media (max-width: 480px) {
    width: 225px;
    height: 330px;
  }
  @media (max-width: 320px) {
    width: 200px;
    height: 300px;
  }
  @media (max-width: 300px) {
    width: 170px;
    height: 260px;
  }

  &:nth-child(3) {
    @media (max-width: 1100px) {
      display: none;
    }
  }
  &:nth-child(2) {
    @media (max-width: 700px) {
      display: none;
    }
  }
  .review-container {
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      & img {
        @media (max-width: 700px) {
          width: 35px;
          height: 35px;
        }
        @media (max-width: 480px) {
          width: 25px;
          height: 25px;
        }
      }
    }
    .stars {
      margin: 1rem 0;
    }
    .review-text {
      line-height: 24px;

      @media (max-width: 480px) {
        line-height: 20px;
      }
      @media (max-width: 320px) {
        font-size: 0.8rem;
      }
    }
    .review-info {
      .name {
        font-weight: bold;
        margin-bottom: 0.3rem;
      }
    }
  }
  .photo {
    cursor: pointer;
  }
}
