@import url("../components/navbar/_navbar.scss");
@import url("../components/navbar/_burger-menu.scss");
@import url("../components/footer/_footer.scss");
// about
@import url("../components/about/_about.scss");
@import url("../components/about/reviews/_reviews.scss");
@import url("../components/about/reviews/review-card/_review-card.scss");
@import url("../components/about/feedback/_feedback.scss");
// profile
@import url("../components/profile/_profile.scss");
//menu
@import url("../components/menu/_menu.scss");
@import url("../components/menu/_card.scss");
@import url("../components/menu/_cardInfo.scss");
//favorite
@import url("../components/favorite/_favorite.scss");
//basket
@import url("../components/basket/_basket.scss");
//sets creator
@import url("../components/creator/_creator.scss");

@font-face {
  font-family: "Ungai";
  src: url("./fonts/Ungai.ttf");
}
$black: #16171b;
$grey: #dfdfdf;

html,
body {
  font-size: 16px;
  background-color: $black;
  font-family: "Tw Cen MT", sans-serif;
  overflow-x: hidden;

  @media (max-width: 1125px) {
    font-size: 14px;
  }
  @media (max-width: 850px) {
    font-size: 12px;
  }
  @media (max-width: 780px) {
    font-size: 13px;
  }
  @media (max-width: 480px) {
    font-size: 12px;
  }
  @media (max-width: 300px) {
    font-size: 10px;
  }
}

* {
  padding: 0;
  margin: 0;
}

/* Ширина скроллбара */
::-webkit-scrollbar {
  width: 10px;
}

/* Цвет фона скроллбара */
::-webkit-scrollbar-track {
  background-color: #2d2e32;
}

/* Цвет полосы прокрутки */
::-webkit-scrollbar-thumb {
  background-color: #646464;
}

/* Цвет при наведении на полосу прокрутки */
::-webkit-scrollbar-thumb:hover {
  background-color: #dfdfdf;
}
